body {
        font-family: Arial, sans-serif;
        background-color: #121212;
        color: #FFFFFF;
        margin: 0;
        padding: 0; 
      }
      .tab-wrap {
        display: flex;
        flex-wrap: wrap;
      }
      .tab-label {
        color: White;
        margin-right: 5px;
        order: -1;
      }
      .tab-content {
        width: 100%;
        display: none;
      }
      .tab-switch:checked+.tab-label+.tab-content {
        display: block;
      }
      .tab-switch {
        display: none;
      }
      a {
        color: #00E676;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #FFFFFF;
      }
      .center {
        text-align: center;
      }
      .parent {
        display: flex;
        justify-content: space-around;
      }
      .info {
        width:400px; height:800px;
        margin:5px; padding:10px; border:1px solid black;
        background-color:black;
      }
      .ichinee {
        height: 3000px;
      }
